@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

body {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	line-height: 1.3em;
	background: #f16529;
}

p.text1 {
	font-weight: 900;
}

p.text2 {
	word-spacing: 1.2em;
}

.card-bg-green {
	border: 1px solid #111;
	background: #ebfee9;
	border-radius: 10px;
	min-width: 200px;
	max-width: 1228px;
}

.card-bg-red {
	border: 1px solid #111;
	background: #fbe7e4;
	border-radius: 10px;
}
.card-bg-red tr:nth-child(odd) {
	color: red;
}

img {
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

a {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: #fff;
}

.btn {
	margin-bottom: 100px;
	background: #fff;
	color: black;
	padding: 10px 20px;
	border: none;
	border-radius: 6.5px;
	font-family: inherit;
	font-weight: 700;
}
.btn:hover {
	background: black;
	color: #fff;
	transition: .4s;
	cursor: pointer;
}

.header-top {
	display: flex;
	margin-bottom: 50px;
/*	flex: 1 0 auto;*/
}

.section a {
	display: inline-block;
	margin-right: 10px;
}

.section {
	margin-left: 50px;
/*	max-width: 300px;*/
	flex: 1 1 300px;
}

.arrow {
	display: flex;
}

